body{
    background-color: rgb(13, 13, 40);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /* background-image: url('../images/background-pixel-rain-abstract_23-2148374569.jpg'); */
}